@import '../../node_modules/platypusui/dist/platypus';
@import '../styles/typography.less';

body {
    top: 75px;
    color: #fff;
    background-image: url('../images/INC-bg-whole2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;

    h1, h3 {
        font-family: 'Gotham-Medium';
    }
    p, .flex-item {
        font-family: 'Gotham-Book';
    }

    .flexbox {
        display: flex;
        flex-flow: row nowrap;
    }
}

@import '../src/templatecontrols/footer/footer.tc.less';
@import '../src/templatecontrols/navbar/navbar.tc.less';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/connect/connect.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/portfolio/portfolio.vc.less';
