@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.ttf');
}

@font-face {
	font-family: 'Gotham-Black';
	src: url('../fonts/Gotham-Black.ttf');
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.ttf');
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.ttf');
}

@font-face {
	font-family: 'Gotham-MediumItalic';
	src: url('../fonts/Gotham-MediumItalic.ttf');
}
