@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.ttf'),
        url('../fonts/Gotham-Medium.otf'),
        url('../fonts/Gotham-Medium.woff');
}

@font-face {
	font-family: 'Gotham-Black';
	src: url('../fonts/Gotham-Black.ttf'),
        url('../fonts/Gotham-Black.otf'),
        url('../fonts/Gotham-Black.woff');
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.ttf'),
        url('../fonts/Gotham-Bold.otf'),
        url('../fonts/Gotham-Bold.woff');
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.ttf'),
        url('../fonts/Gotham-Book.otf'),
        url('../fonts/Gotham-Book.woff');
}

@font-face {
	font-family: 'Gotham-MediumItalic';
	src: url('../fonts/Gotham-MediumItalic.ttf'),
        url('../fonts/Gotham-MediumItalic.otf'),
        url('../fonts/Gotham-MediumItalic.woff');
}