[plat-control="about-vc"] {

font-family: 'Gotham-Medium';

.Bio {
		max-width: 600px;
		margin: auto;
		
		.nameofVIP {
			color: black;
			
				.title{
					font-weight: 100;
					font-family: 'Gotham-Book';
				}
		
				#logo1 {
					height: 50px;
					width: 50px;
					background-color: black;
					margin-left: 190px;
					}
				#logo2 {
					height: 50px;
					width: 50px;
					background-color: black;
					margin-left: 235px;
					}
				#logo3 {
					height: 50px;
					width: 50px;
					background-color: black;
					margin-left: 115px;
					}
		}
		hr {
			margin-top: -1em;
		}
			
		.imageofVIP{
			height: 250x;
			width: 275px;
			float: left;
			margin: 0 0 10px 10px;
		}
}

#Bio2 {
		color: #6B7F92;
}

.InfiniteBanking {
		max-width: 600px;
		margin: auto;
		
		#IBTitle {
			background-color: #768274;
			color: #ffffff;
			padding-left: 10px;
		}
		
		#IBhr {
			background-color: #768274;
		}
		p {
			color: #768274;
		}
		
		#IMSBold {
			font-weight: 700;
		}
		
		.books {
			font-weight: 700;
		} 		
}
//Styling for The Book Section//	
.BookDiv {
		background-color: #768274;
		padding-top: 1px;
		padding-bottom: 10px;
		color: #ffffff;
	.BookContentDiv {
			max-width: 600px;
			margin: auto;
			margin-bottom: 0;
			
		h1 {
				font-size: 60px;
				font-weight: bolder;
				letter-spacing: -1px;
		}
		
		.bookHr {
			color: #ffffff;
			margin-top: -2em;
			height: 2.5px;
			border-width: 0;
			background-color: #ffffff;
		}
	
	#NameOfTheBook {
			font-style: italic;
			font-size: 30px;
			margin-top: -5px;
	}
	
	#author {
			margin-top: -25px;
			font-weight: 300;
			font-size: 22px;
	}
	
	.container{
		span{
			font-weight: bold;
		}
	}
	
	/*.bookHr {
			color: #ffffff;
			height: 2.5px;
			border-width: 0;
			background-color: #ffffff;
		}*/
	}
.buybook {
	text-align: center;
	img {
		height: 100px;
		width: 100px;
		margin-bottom: 15px;
	}
	 #button {
		 //how do I get this button underneath the icon//
		 //how do I get this button more box shaped//
		 //need to add font//
		// margin-right: 300px;
		// margin-top: 20px;
		// margin: 0 auto;
		outline: 0;
		border: 2px solid #ffffff;
		font-size:20px;
		font-weight: bold;
		color: #ffffff;
		background-color: fade(ghostwhite, 5%);
		transition-duration: 0.25s;
		
		&:hover {
			background-color: #ffffff;
			color: #768274;
		}
		
	}
	
	#FirstLine {
		width: 616px;
		margin-bottom: 40px;
	}
	
	#SecondLine {
		width: 800px;
		margin-bottom: 40px;
	}
}
}
.AdditionalResources {
		max-width: 600px;
		margin: auto;
	img {	
		margin-top: 20px;
		margin-right: 10px;
		background-color: #768274;
		height: 50px;
		width: 50px;
		float: left;
	}
	#button {
		margin-top: 20px;
		margin-right: 25px;
		outline: 0;
		background-color: white;
		border: 3px solid #768274;
		font-size:15px;
		font-weight: bold;
		color: #768274;
		text-align:center;
		transition-duration: 0.25s;
	}
	
	.AdditionalResourcesList{
		list-style: none;
		font-weight: bolder;
		color: #768274;
		margin-left: 25px;
	}
	hr {
		color: #768274;
		margin-bottom: 20px;
	}
	
}
}
