[plat-control="about-vc"] {

/********About Header*******/
	.row {
		list-style: none;
        padding: 1em;
		padding-bottom: 2em;
        .flex-container {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            }
		#TheTeamBlock {
            font-family: 'Gotham-Bold';
            text-decoration: underline;
			img {
				margin-right:10px;
			}

		}
		#HowBlock {
			.flex-container {
			h1 {
			font-family: 'Gotham-Book';
			font-weight: 100;
			}
		}
			img {
				margin-right: 10px;
			}
		}
	}
	/*End of About Header*/

/*********Story Block********/
	.StoryColorBlock {
		color: #ffffff; 
	}
	#StoryRow {
		list-style: none;
        padding: 1em;
		padding-bottom: 2em;
		max-width: 65%;
		margin: auto;
        .flex-container {
            display: flex;
            align-content: flex-start;
            align-items: flex-start;
            justify-content: flex-start;
            }
		#StoryBlock {
            font-family: 'Gotham-Bold';
			h2 {
				margin-top: 0em;
				margin-bottom: 0em;
			}
			}
		#StoryContent {
            //font-family: 'Gotham-Bold';
			p {
				margin-top: 0em;
				font-family: 'Gotham-Medium';
				span {
					font-style: italic;
				}
			}
			}
	}
	/*End of Story Block*/

/*******BIOS*******/
	//Standard formating for all three divs//
	.BioColorBlock {


		//Div for Testimonial Content//
		.BioContent {
			max-width: 65%;
			margin: auto;
			padding-top: 0em;
            .BioWords {
                margin-left: 0em;
                text-align: left;
				p {
					margin-top: 0em;
				}
            }

			//Div for name of customer//
			.nameofVIP {
				font-family: 'Gotham-Bold';
				
				.flex-icon {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row nowrap;
                    align-content: center;
                    align-items: center;
                }
                #underline {
                    border-bottom: 3px solid #ffffff;
				}
                	h2 {
						margin-bottom: 0em;
						font-size: 1.7em;
						letter-spacing: -2px;
					}
				}

				.title {
						font-weight: 100;
						font-family: 'Gotham-Book';
						}

				#logo1 {
						height: 30px;
						margin-top:20px;
						}
				#logo2 {
						height: 30px;
						margin-top:20px;
						}
            }

			//Div for the image of the customer//
			.image {
                padding: 0.1em;
				height: 250x;
				width: 275px;
			}
			//END OF IMAGE DIV//

		}
		//END OF TESTIMONIAL DIV//
		
		//END OF TESTIMONIAL COLOR BLOCK//
	}
	

/*****Extras****/
/*This is for unique or extraneous custom stylings of elements
that would have been too much work to try and nest*/

	#FirstFrostBlock {
		padding-bottom: 20px;
		color: #ffffff;
		background-color: fade(#ffffff,40%);
	}

	#whiteblock {
		color: #6B7F92;
		background-color: #ffffff;
		#SecondBlockUnderline {
			border-bottom: 3px solid #6B7F92;
			h3 {
				margin-bottom: 0px;
				font-family: 'Gotham-Medium';
			}
			
		}
	}

	#SecondFrostBlock {
		background-color: fade(#ffffff,40%);
	}
	/**********End of Extra for Bios**********/


	/**********Infinite Banking Styling*******/
	.IBColorBlock {
			background-color: #ffffff;
			.row {
				max-width: 65%;
				margin: auto;
				padding-bottom: 0em;
			}
	//Div for Infinite Banking Content//
			.IBTitle {
				color: #ffffff;


				#IBTitle2 {
				border-bottom: 3px solid #738C7C;

					h3 {
						font-family: 'Gotham-Medium';
						background-color: #738C7C;
						padding: 0.2em;

					}
				}
			}

			.IBWords {
                margin-left: 0.2em;
                text-align: left;
				color: #768274;
				font-family: 'Gotham-Book';
				font-weight: 500;
				//margin-top: 0em;
				p {
					margin-top: 0em;
				}
			}
			span {
				font-weight: bold;
			}
	}
	/*End of Infinite Banking Styling*/

	/*Book Section Styling*/
	.BookColorBlock {
			background-color: #738C7C;
			.row {
				max-width: 65%;
				margin: auto;
			}
			
	//Div for Infinite Banking Content//
			.BookTitle {
				color: #ffffff;
					img {
						height: 50px;
					}

					h2 {
						font-family: 'Gotham-Bold';
						font-weight: bolder;
						font-size: 62px;
						border-bottom: 3px solid #ffffff;
						margin-top: 0em;
						margin-bottom: 0em;
                    }
					h3 {
						font-family: 'Gotham-Bold';
						font-size: 30px;
						font-style: italic;
						margin-top: 0.4em;
						margin-bottom: 0em;
						line-height: 90%;
						letter-spacing: 0px;
					}
					#author  {
						margin-top: 0em;
						margin-bottom: 0em;
						font-size: 23px;
					}

					#BookInfo {
						border-bottom: 3px solid #ffffff;


					#content {
						font-size: 20px;
						line-height: 110%;

						span {
							font-weight: bold;
							font-style: italic;
							font-family: 'Gotham-Black';
						}
           		 	}
				}
			}
			#BookIconAndButton {
				padding-top: 20px;
				text-align: center;
				border-bottom: 3px solid #ffffff;
				padding-bottom: 2em;
				.BookLogo {
				height: 100px;
				width: 100px;
				padding-bottom: 1em;
				}
				.buttonDiv {
					background-color: #738C7C;
					border-color: #738C7C;
					padding-bottom: 1em;
				}
				button {
					border: 2px solid #ffffff;
					color: #ffffff;
					background-color: #738C7C;
					font-size: 16px;
					font-weight: bold;
					padding: 1em;
					width: 220px;
					transition-duration: 0.25s;

					&:hover {
						background-color: fade(#ffffff, 40%);
					}
				}
			}
    }
