[plat-control="portfolio-vc"] {
	/*Portfolio Heading*/
	.row {
		list-style: none;
        padding: 1em;
        .flex-container {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            }
		#TestimonialsBlock {
            font-family: 'Gotham-Bold';
            text-decoration: underline;
			img {
				margin-right:10px;
			}

		}
		#FriendsBlock {
            font-family: 'Gotham-Book';

			img {
				margin-right: 10px;
			}
		}
	}
	/*End of Portfolio Heading*/

	//TESTIMONIALS//

	//Standard formating for all three divs//
	.TestimonialColorBlock {


		//Div for Testimonial Content//
		.Testimonial {
			max-width: 65%;
			margin: auto;
            .TestimonialWords {
                margin-left: 0.2em;
                text-align: left;
            }

			//Div for name of customer//
			.nameofCustomer {
				font-family: 'Gotham-Bold';
                .flex-icon {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row nowrap;
                    align-content: center;
                    align-items: center;
                }
                #underline {
                    border-bottom: 3px solid #6B7F92;
                }

				.title {
						font-weight: 100;
						font-family: 'Gotham-Book';
						}

				#logo1 {
						height: 30px;
						}
				#logo2 {
						height: 50px;
						width: 50px;
						}
				#logo3 {
						height: 50px;
						width: 50px;
						}
            }

			//Div for the image of the customer//
			.image {
                padding: 0.1em;
				height: 250x;
				width: 275px;
				// float: left;
				//margin: 0 25px 10px 10px;
			}
			//END OF IMAGE DIV//

		}
		//END OF TESTIMONIAL DIV//

	}
	//END OF TESTIMONIAL COLOR BLOCK//

/*****Extras****/
/*This is for unique or extraneous custom stylings of elements
that would have been too much work to try and nest*/

	#whiteblock {
		background-color: #ffffff;
		padding-bottom: 20px;
		color: #6B7F92;
	}

	#backgroundblock {
		color: #ffffff;
		//padding-bottom: 50px;
		//height: 350px;
		#SecondBlockUnderline {
			border-bottom: 3px solid #ffffff;
		}
	}

	.otherHRLines {
		height: 3px;
		background-color: #6B7F92;
	}


}
