[plat-control="navbar"] {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;

    .background-opaque {
        background-color: rgba(109, 134, 146, 0.75);
        transition: background-color 2s ease-in;
    }
    .background-transparent {
        background-color: rgba(109, 134, 146, 0.0);
        transition: background-color 2s ease-in;
    }
        // -moz-animation-name: changeNav;
        // -moz-animation-iteration-count: 1;
        // -moz-animation-timing-function: linear;
        // -moz-animation-duration: 0.5s;

        // -webkit-animation-name: dropHeader;
        // -webkit-animation-iteration-count: 1;
        // -webkit-animation-timing-function: linear;
        // -webkit-animation-duration: 0.5s;

        // animation-name: dropHeader;
        // animation-iteration-count: 1;
        // animation-timing-function: linear;
        // animation-duration: 0.5s;

        // @-moz-keyframes dropHeader {
        //       0% {-moz-transform: nslateY(-800px);}
        //       100% {-moz-transform: translateY(0);}
        //       }

        // @-webkit-keyframes dropHeader {
        //      0% {-webkit-transform: translateY(-800px);}
        //      100% {-webkit-transform: translateY(0);}
        //      }

        //  @keyframes dropHeader {
        //      0% {transform: translateY(-800px);}
        //      100% {transform: translateY(0);}
        //      }

        .logo {
            height: 40px;
        }
       .flex-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
        }
        .flex-item {
            color: #fff;
            list-style-type: none;
            font-size: 16px;
        }
        // .slider{
        //     position: relative;
        //     padding-bottom: 3px;
        // }
        // .slider:before {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     height: 3px;
        //     width: 0;
        //     transition: width 0s ease, background .5s ease;
        // }
        // .slider:after {
        //     content: '';
        //     position: absolute;
        //     right: 0;
        //     bottom: 0;
        //     height: 3px;
        //     width: 0;
        //     background: whitesmoke;
        //     transition: width .5s ease;
        // }
        // .slider:hover:before {
        //     width: 100%;
        //     background: whitesmoke;
        //     transition: width .5s ease;
        // }
        // .slider:hover:after {
        //     width: 100%;
        //     background: transparent;
        //     transition: all 0s ease;
        // }
}