[plat-control="navbar"] {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(51, 77, 97, 0.5);
    ul {
        padding: 0em;
    }
        .logo {
            height: 2.5em;
            //text-align: center;
        }
       .flex-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
        }
        .flex-item {
            color: #fff;
            list-style-type: none;
            font-size: 14px;
            &:hover {
                font-weight: bold;
            }
        }
        // .slider{
        //     position: relative;
        //     padding-bottom: 3px;
        // }
        // .slider:before {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     height: 3px;
        //     width: 0;
        //     transition: width 0s ease, background .5s ease;
        // }
        // .slider:after {
        //     content: '';
        //     position: absolute;
        //     right: 0;
        //     bottom: 0;
        //     height: 3px;
        //     width: 0;
        //     background: whitesmoke;
        //     transition: width .5s ease;
        // }
        // .slider:hover:before {
        //     width: 100%;
        //     background: whitesmoke;
        //     transition: width .5s ease;
        // }
        // .slider:hover:after {
        //     width: 100%;
        //     background: transparent;
        //     transition: all 0s ease;
        // }
}