[plat-control="navbar"] {
    color: #fff;
    text-transform: uppercase;
        .logo {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            padding-top: 30px;
        }
        .flex-container {
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
        /* flexbox setup */
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

        .flex-item {
            color: #fff;
            list-style-type: none;
            padding: 20px;
        }
        .flex-item:hover {
            background-color: rgba(255,255,255,0.3);
        }
        .flex-item:active {
            background-color: rgba(255,255,255,0.3);
        }
    }
}
