[plat-control="connect-vc"] {
<<<<<<< HEAD
	/*.Bio {
		max-width: 600px;
		margin: auto;
		
		.nameofVIP {
			//Couldn't find a way to get this div to have a bottom border//
			border-bottom: 20px;
			}
		}
	}
}*/
}
=======
	.connect-view {
        text-align: center;

        .learn-more {
            background-color: rgba(255,255,255,0.8);
            width: 100%;
            -webkit-text-fill-color: transparent;
        }
    }
}
>>>>>>> a12dddb6ecd40c2bc8e23f31527f5a0326cde360
