[plat-control="connect-vc"] {
    .connect-view {
        text-align: center;
        .learn-more {
            background-color: rgba(255,255,255,0.4);
            width: 100%;
            text-align: center;
            padding-bottom: 2em;
            font-family: 'Gotham-Book';
            color: #fff;
            h2 {
                font-size: 2.7em;     
                font-style: italic;
                margin-bottom: 0em;
            }
            h4 {
                margin-top: 0em;
            }
    
        }

        .connect-form {
            padding: 3em;
            font-family: 'Gotham-Book';
            .input {
                background-color: rgba(255,255,255,0.4);
                border-radius: 0%;
                font-size: 18px;
                width: 70%;
                margin: 0em;
            }
            .button-primary {
                background-color: rgba(255,255,255,0.4);
                border: 0px solid #fff;
                border-radius: 0%;
                text-transform: uppercase;
                font-size: 18px;
                padding: .6em;
                width: 40%;
                &:hover {
                    background-color: white;
                    color: #6B7F92;
                    font-weight: bold;
                }
            }

            .customInputStyle {
                #platui > #Input > .plat-input(placeholder-color; #fff);
                #platui > #Input > .plat-input(text-color; #fff);
                #platui > #Input > .plat-input(border-bottom-width; 0px);
            }

        }
        
    }
}