[plat-control="home-vc"] {
    text-align: center;
	// h1, h2, h3, h4, p, div.paragraph,{
	// 	color: white;
	// 	text-align: center;
	// }

	// h2 {
	// 	border-bottom: 1px;
	// 	color: white;
	// 	font-family: 'Gotham-Bold';
	// 	font-size: 35px;
	// }

	// h4 {
	// 	text-transform: uppercase;
	// }

	.flex-container {
		display: -webkit-flex;
		display:    -moz-flex;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
        padding-top: 2em;
	}
	.factslist{
		#1, #2, #3{
		border-left: 1px solid black;
		border-right: 1px solid black;
		}
	}
	.row3.flex-container img{
		width: 50px;
		border: 1px solid black;
		
	}
	.row.flex-container img:hover{
	background-color: rgba(255,255,255,0.25);
  	border-radius: 50px;
  
}
	

    .line-break {
        border: 0;
        height: 3px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    }
    .main-icons {
        padding: 3em;
        .icon {
            height: 75px;
        }
        .icon:hover {
            background-color: rgba(255,255,255,0.15);
            border-radius: 50%;
            height: 75px;
        }
    }
    .options {
        padding: 2em;
    }
    .blurb {
        width: 60%;
        padding-bottom: 4em;
        margin: 0 auto;
    }
    .points {
        padding: 2em;
        .stats {
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
            padding: 0em;
            margin: 2em;
            line-height: 80%;
        }
    }
    .nyt-list {
        .flex-container {
            display: flex;
            justify-content: center;
            text-align: left;
            padding: 0em;
            margin: 0em;
        }
    }
     button {
        padding: 1.5em;
        font-size: 16px;
        background: transparent;
        border: 2px solid #fff;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    button:hover{
        background-color: rgba(255,255,255,0.2);
    }

// 	.row.flex-container {
// 			.col-phn-4:hover{
// 				hr {
// 					opacity:1;
// 				}
// 				img {
// 					background-color: rgba(255,255,255,0.15);
//   					border-radius: 50px;
// 				}
// 			}
// 		}
// 	.row2.flex-container{
// 			.col-phn-4{
// 				border-bottom: 1px solid black;
// 			}
// 		}

// 	.row3.flex-container{
// 		.col-phn-8{
// 			border-top: 1px solid black;
// 			.bottom
// 				{
// 				border-left:1px solid black;
// 				border-right:1px solid black;
// 					p{
// 						text-align: justify;
// 					}
// 				}
// 			}
// 		}
// 	hr.reappear{
// 	 	opacity: 0;
// 	 	background-color: red;
// 	 	width: 80%;
// 	 }
// 	hr.main{
// 		width:70%;
// 		background-color:white;
// 		opacity:1;
// 	}
// 	button.main{
// 		margin: auto;

// 	}
// 	ul{
// 		font-style: bold;
// 		margin: auto;
// 		display: table;
// 		color:white;
// 		padding-bottom: 10px;

// 	}
// 	.factslist{
// 		#1, #2, #3{
// 		border-left: 1px solid black;
// 		border-right: 1px solid black;
// 		}
// 	}
// 	.row3.flex-container img{
// 		width: 50px;
// 		border: 1px solid black;

// 	}
// 	.row.flex-container img:hover{
// 	background-color: rgba(255,255,255,0.15);
//   	border-radius: 50px;

// }
