[plat-control="home-vc"] {
    text-align: center;
    span {
        font-family: 'Gotham-Black';

        li {
            font-size: 20px;
        }
        ul {
            padding-bottom: 2em;
        }
    }
	.flex-container {
		display: -webkit-flex;
		display:    -moz-flex;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
    .main-icons {
        padding: 4em 3em 3em 3em;
        .min-icon{
            height: 75px;
            border-radius:150px;
        }
        .icon {
            height: 75px;
            border-radius:150px;
           }
    }
    .hover-me{
        hr.line{
            opacity:0;
            width:0%;
            height:2px;
            transition: all .7s  ease-in-out;

        }
        .icon{
            background-color: rgba(255,255,255,0);
            z-index:1;
            transition: all .5s  ease-in-out;
        }
        .min-icon{
            background-color: rgba(255,255,255,0);
            background-clip: 10px;
            z-index:1;
            transition: all .5s  ease-in-out;

        }
        &:hover{
            hr.line{
                opacity: 1;
                width: 45%;
                height: 2px;
                background-color: #fff;
                transition: all .7s  ease-in-out;
            }
            .icon{
                background-color: rgba(255,255,255,0.5);
                z-index:1;
                transition: all .5s  ease-in-out;
            }
            .min-icon{
                background-color: rgba(255,255,255,0.5);
                background-clip: 10px;
                z-index:1;
                transition: all .5s  ease-in-out;
            }
        }
    }

	.row3.flex-container img{
		width: 50px;
		border: px solid black;

	}
	.row.flex-container img:hover{
	      background-color: rgba(555,76,255,0.3);
  	      border-radius: 50px;
    }

    .line-break {
        border: 0;
        height: 3px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    }
    .options {
        padding: 2em;
    }
    .blurb {
        width: 60%;
        padding-bottom: 4em;
        margin: 0 auto;
        p {
            font-family: 'Gotham-Black';
        }
    }
    .points {

        .stats {
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
            padding: 0em;
            margin: 2em;
            line-height: 80%;
            h4{

            }
            .stretch{

            }
            h1{
                font-size: 7em;


            }
            h1.tadSmaller{
                font-size: 6em;
            }
            h2{

            }
            .stretch1{
                letter-spacing: .5em;
                margin:0 auto;
                text-justify: inter-word;
                width: 25vw;
            }
        }
    }
    .nyt-list {
        .flex-container {
            display: flex;
            justify-content: center;
            text-align: left;
            padding: 0em;
            margin: 0em;
        }
    }
    .easeDown {
        text-align: left;
        margin-top: 0em;
        height:0;
        overflow:hidden;
        padding: 0em 1em 1em 1em;
        p {
            padding-top: 0em;
        }
        h3 {
            font-style: italic;
        }
        .list {
            font-family: 'Gotham-Book';
        }
    }
    .collapse {
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        text-align: center;
    }
    button {
        padding: 1.5em;
        font-size: 16px;
        background: transparent;
        border: 2px solid #fff;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Gotham-Medium';
    }
       button:hover{
        background-color: rgba(255,255,255,0.3);
    }
}